*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
    outline: none;
    border: none;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/*  header*/

  .header {
    width: 100%;
    height: 50px;
    background-color: rgb(235, 33, 33);
}

/*  */
.div2 {
    height: 200px;
    background-color: rgb(179, 202, 45);
}
.div3 {
    height: 200px;
    background-color: rgb(47, 194, 91);
}
.div4 {
    height: 200px;
    background-color: rgb(45, 184, 202);
}
.div5 {
    height: 200px;
    background-color: rgb(131, 45, 202);
}
.div6 {
    height: 200px;
    background-color: rgb(37, 85, 48);
}
.div7 {
    height: 200px;
    background-color: rgb(33, 172, 177);
}
.div8 {
    height: 200px;
    background-color: rgb(45, 74, 202);
}
/* main */
.main {
    display:  grid;
}

/* footer */
.footer {
    clear: both;
    height: 100px;
    background-color: rgb(248, 35, 152);
}